[user]
	#email = alen6516@gmail.com
	#name = alen6516
    email = HaoPing.Liu@amd.com
    name = Alan Liu
[alias]
    co = checkout
    sw = switch
    sh = show
    br = branch
    bm = blame
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    hs = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --date=short
[pull]
	rebase = true
[commit]
	verbose = true
[url "ssh://gerritgitmaster/"]
	pushInsteadOf = ssh://gerritgit/
